@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/* Media


0 - 600 : Phone
600 - 900px: Portrait tablets
900 - 1200px: landscape tablets
1200 - 1800px: Normal css 
1800 - all sized : Big screen
*/

@mixin respond-phone {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

// ($breakpoint) {}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      // 600px = 37.5em == 600/16px == 1em == 16px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      // 900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      // 1200px
      @content;
    }
  }
  @if $breakpoint == big-screen {
    @media only screen and (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
